@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@media (min-width: 992px) {
  #review-element img { height: 300px; width: auto; }
}

@media (max-width: 991px) and (min-width: 768px) {
  #review-element iframe { zoom: 1.5; }
}

@media (max-width: 767px) and (min-width: 576px) {
  #home-responsive { padding: 0px; }
  #movie-responsive #manage-image { padding-left: 0px; }
  #movie-responsive #manage-info { padding: 0px; }
  #movie-responsive #manage-info label { padding-left: 0px; }
  #review-element { padding: 0px; }
}

body {
  min-width: 512px;
}

nav {
  font-family: "Gugi", cursive;
}

nav #banner {
  text-decoration: none;
  color: #ff4411;
  margin-top: 8px;
}

nav #user-button {
  background: #292b2c;
  padding: 10px 14px 10px 14px;
}

nav #user-button:hover {
  background: #101112;
  transition: all 0.3 ease;
}

nav #user-button:active {
  background: black;
}

nav #logout-button {
  background: #292b2c;
  padding: 10px 12px 10px 12px;
}

nav #logout-button:hover {
  background: #101112;
  transition: all 0.3 ease;
}

nav #logout-button:active {
  background: black;
}

nav #user-icon, nav #logout-icon {
  color: white;
}

nav #navbar-dropdown {
  padding-right: 0px;
}

#sidebar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #292b2c;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 10px 0px 10px 20px;
  font-size: 1em;
  color: white;
  text-decoration: none;
  display: block;
  min-width: 195px;
}

#sidebar ul li a:hover {
  color: black;
  background: #fff;
}

#movies-list #movie-item {
  margin-top: 20px;
}

#home-element, #movie-element, #review-element {
  font-family: "Kanit", sans-serif;
  margin: 25px auto 25px auto;
}

#movie-element #manage-image #img-name-div {
  margin: 10px 0px;
}

#movie-element #manage-info label {
  margin: 6px 0px 0px 0px;
}

#review-element #review-movie-content { padding-top: 10px; }

#review-element #review-movie-img { padding-right: 0px; }

#review-element #md-movie-detail p { text-indent: 50px; margin-bottom: 5px; }

#review-element .review-user-image { width: 75px; height: 75px; object-fit: cover; }

#review-element a { text-decoration: none; }

#review-element button.user-response { width: 45px; height: 45px; }

#review-element iframe {
  width: 100%; height: 300px;
  margin-bottom: 10px;
}

.star-rating > input { display: none; }

.star-rating > label:before {
  content: "\f005"; /* Star */
  margin: 2.5px;
  font-size: 1.5em;
  font-family: 'FontAwesome';
}

.star-rating > label { color: #555555; }

.star-rating > input:checked ~ label { color: #ffca08; }

.star-rating > input:hover ~ label { color: #ffca08; }
